services:
  nat:
    hostname: nat
    build: ./nat
    container_name: nat
    cap_add: ["NET_ADMIN"]
    restart: unless-stopped
    networks:
      uplink:
      nat:
        ipv4_address: 192.168.90.254
    volumes:
      - ./nat/iptables.rules:/etc/iptables/rules.v4:ro
    extra_hosts: ["host.docker.internal:host-gateway"]
    ports:
      - "127.0.0.1:23389:23389" # admin
      - "127.0.0.1:2222:2222" # admin

  fw:
    hostname: router-go
    depends_on:
      - nat
    build: ./fw
    container_name: router-go
    privileged: true
    cap_add: ["NET_ADMIN"]
    restart: unless-stopped
    privileged: true
    sysctls:
      net.ipv4.ip_forward: 1
    networks:
      nat:
        ipv4_address: 192.168.90.2
      servers:
        ipv4_address: 192.168.50.254
      users:
        ipv4_address: 192.168.0.254
    volumes:
      # Адрес srv_dns
      - ./fw/etc/resolv.conf:/etc/resolv.conf:ro
      - ./fw/nftables.conf:/etc/nftables.conf:rw
      - ./adm.sh:/usr/local/bin/adm.sh:rw
    environment:
      - ADM_HASH=${ADM_HASH}

  srv_dns:
    hostname: srv-dns
    depends_on:
      - fw
    build: ./srv_dns
    container_name: srv_dns
    cap_add: ["NET_ADMIN"]
    restart: unless-stopped
    privileged: true
    networks:
      servers:
        ipv4_address: 192.168.50.70
    volumes:
      - ./srv_dns/Corefile:/etc/coredns/Corefile:ro
      - ./srv_dns/investpro.local.db:/etc/coredns/investpro.local.db:ro
      - ./adm.sh:/usr/local/bin/adm.sh:rw
    environment:
      - GATEWAY_IP=192.168.50.254
      - ADM_HASH=${ADM_HASH}
    expose:
      - "53"
      - "53/udp"

  srv_web:
    hostname: srv-web
    build: srv_web
    depends_on:
      - fw
      - srv_dns
    container_name: srv_web
    cap_add: ["NET_ADMIN"]
    restart: unless-stopped
    privileged: true
    networks:
      servers:
        ipv4_address: 192.168.50.10
    volumes:
      - ./www:/usr/share/nginx/html:ro
      - ./srv_web/log.conf:/etc/nginx/http.d/zz-server.conf:rw
      - ./srv_web/nginx.conf:/etc/nginx/nginx.conf:rw
      - ./srv_web/access.log:/access.log:ro
      - ./adm.sh:/usr/local/bin/adm.sh:rw
    environment:
      - GATEWAY_IP=192.168.50.254
      - ADM_HASH=${ADM_HASH}
      - USER1_HASH=${USER1_HASH}
    dns: [192.168.50.70]

  srv_fs:
    hostname: srv-fs
    depends_on:
      - fw
    build: ./srv_fs
    container_name: srv_fs
    cap_add: ["NET_ADMIN"]
    restart: unless-stopped
    privileged: true
    # user: root
    networks:
      servers:
        ipv4_address: 192.168.50.30
    volumes:
      - ./samba/share:/share
      - ./adm.sh:/usr/local/bin/adm.sh:rw
      - ./srv_fs/etc/samba/smb.conf:/etc/samba/smb.conf:rw
    environment:
      - GATEWAY_IP=192.168.50.254
      - ADM_HASH=${ADM_HASH}
      - SAMBA_USER=${SAMBA_USER}
      - SAMBA_PASSWORD=${SAMBA_PASSWORD}
      - SAMBA_SHARE_NAME=${SAMBA_SHARE_NAME}
    dns: [192.168.50.70]

  srv_av:
    hostname: srv-av
    depends_on:
      - fw
    build: ./rpm_based_serv
    container_name: srv_av
    cap_add: ["NET_ADMIN"]
    cgroup: host
    privileged: true
    restart: unless-stopped
    # user: root
    networks:
      servers:
        ipv4_address: 192.168.50.90
    volumes:
      - ./adm.sh:/usr/local/bin/adm.sh:rw
      - /sys/fs/cgroup:/sys/fs/cgroup
    environment:
      - GATEWAY_IP=192.168.50.254
      - ADM_HASH=${ADM_HASH}
    dns: [192.168.50.70]

  user-go-lebed:
    hostname: user-go-lebed
    depends_on: [fw]
    build: ./empty
    container_name: user-go-lebed
    cap_add: ["NET_ADMIN"]
    restart: unless-stopped
    networks:
      users:
        ipv4_address: 192.168.0.10
    privileged: true
    environment:
      - GATEWAY_IP=192.168.0.254
      - ADM_HASH=${ADM_HASH}
      - USER1_HASH=${USER1_HASH}
      - USERNAME=m.lebedeva
    volumes:
      - ./adm.sh:/usr/local/bin/adm.sh:rw
    dns: [192.168.50.70]

  user-go-solov:
    hostname: user-go-solov
    depends_on: [fw]
    build: ./empty
    container_name: user-go-solov
    cap_add: ["NET_ADMIN"]
    restart: unless-stopped
    networks:
      users:
        ipv4_address: 192.168.0.20
    privileged: true
    environment:
      - GATEWAY_IP=192.168.0.254
      - ADM_HASH=${ADM_HASH}
      - USER2_HASH=${USER2_HASH}
      - USERNAME=i.soloviev
    volumes:
      - ./adm.sh:/usr/local/bin/adm.sh:rw
    dns: [192.168.50.70]

  admin-go-pc:
    hostname: admin-go-pc
    depends_on: [ fw, srv_fs]
    build: ./admin
    container_name: admin-go-pc
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor:unconfined
    restart: unless-stopped
    networks:
      users:
        ipv4_address: 192.168.0.50
    volumes:
      - ./adm.sh:/usr/local/bin/adm.sh:rw
    environment:
      - GATEWAY_IP=192.168.0.254
      - ADM_HASH=${ADM_HASH}
      - ADMIN_HASH=${ADMIN_HASH}
      - SAMBA_USER=${SAMBA_USER}
      - SAMBA_PASSWORD=${SAMBA_PASSWORD}
    dns: [192.168.50.70]
    privileged: true

networks:
  uplink:
    name: uplink
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-uplink
  nat:
    driver: bridge
    name: nat
    ipam:
      config:
        - subnet: 192.168.90.0/24
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-nat
  servers:
    driver: bridge
    name: servers
    ipam:
      config:
        - subnet: 192.168.50.0/24
  users:
    driver: bridge
    name: users
    ipam:
      config:
        - subnet: 192.168.0.0/24
    driver_opts:
      com.docker.network.bridge.enable_icc: "true"
      com.docker.network.bridge.name: br-users
